.product {
    width:10%;
    text-align: center;
    border: 0.1px solid #4F4F4F;
}

.product, img {
    max-height:100%;
    width: 100%;
    object-fit: cover;
}


.product-title {
    max-height:100%;
    max-width:100%;
    text-align: left;
}

.product-description {
    padding: 6% 13% 18% 13%;
}

.product-image {
    width: 73.5%;
    padding-top: 48px;
}
